<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create new user</a>
<h1>User</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    <th:block th:each="user: ${users}">
        <tr>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>

        </tr>
    </th:block>
</table>
</body>
</html>